body {
  background-color: #f4f4f4;
  color: #fff;
  font: 15px/1.5 Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

ul {
  margin: 0;
  padding: 0;
}

.btn {
  background-color: #cf2626;
  border: 0;
  color: #fff;
  height: 36px;
  padding-left: 20px;
  padding-right: 20px;
}

/* HEADER */
header {
  background-color: #35424a;
  border-bottom: #cf2626 solid 5px;
  min-height: 70px;
  padding-top: 30px;
}

header nav {
  float: right;
  margin-top: 10px;
}

header li {
  display: inline;
  float: left;
  list-style-type: none;
  margin: 0 20px;
}

header a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}

header a:hover {
  color: #bbbbbb;
  border-bottom: 1px solid #bbbbbb;
  padding-bottom: 3px;
}

/* Brand */
header .brand {
  float: left;
}
header .brand h1 {
  margin: 0;
  text-transform: capitalize;
}

header span,
header .active {
  color: #cf2626;
  font-weight: 600;
}
/* HERO */

.hero {
  background-image: url(/img/showcase.jpg);
  background-repeat: no-repeat;
  background-position: 0 -400px;
  /* background-size: cover; */
  /* background-attachment: fixed; */
  font-size: 20px;
  min-height: 400px;
  text-align: center;
}

.hero h2 {
  text-transform: capitalize;
  font-size: 56px;
  margin: 100px auto 10px;
}

/* NEWSLETTER */

section.newsletter {
  background-color: #35424a;
  padding: 15px;
}

.newsletter h2 {
  float: left;
}

.newsletter form {
  float: right;
  margin-top: 15px;
}

input[type="email"] {
  height: 25px;
  padding: 3px;
  width: 250px;
}

/* FEATURES */

.features {
  color: #35424a;
  margin-top: 20px;
}

.box {
  float: left;
  padding: 10px;
  text-align: center;
  width: 30%;
}

img {
  width: 90px;
}

/* FOOTER */
footer {
  background-color: #cf2626;
  font-size: 13px;
  padding: 20px;
  margin-top: 20px;
  text-align: center;
}
/* --------------------------
        ABOUT
-------------------------- */
.about {
  color: #35424a;
  height: 100%;
}

.dark {
  background-color: #35424a;
  color: #fff;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 15px;
}

.main {
  float: left;
  width: 65%;
}

.side {
  float: right;
  margin-top: 20px;
  width: 30%;
}
/* --------------------------
        SERVICES
-------------------------- */
section.products {
  color: #35424a;
}

aside.side .quote input,
aside.side .quote textarea {
  width: 90%;
  padding: 5px;
}
ul.services li {
  background-color: #e6e6e6;
  border: 1px solid #aaaaaa;
  list-style-type: none;
  padding: 20px;
  margin-bottom: 5px;
}

/* --------------------------
        MEDIA QUERY
-------------------------- */

@media (max-width: 768px) {
  header .brand,
  header nav,
  header nav li,
  .newsletter form,
  .newsletter h2,
  .features .box,
  article.main,
  aside.side {
    float: none;
    text-align: center;
    width: 100%;
  }
  header {
    padding-bottom: 20px;
  }

  .hero h2 {
    margin-top: 40px;
  }

  .newsletter input[type="email"] {
    margin-bottom: 20px;
  }

  .newsletter button,
  .quote button {
    display: block;
    width: 100%;
  }

  .newsletter input[type="email"],
  .quote input,
  .quote textarea {
    margin-bottom: 10px;
    width: 100%;
  }

  aside.side .quote button {
    margin: 5px auto 0;
    width: 93%;
    cursor: pointer;
  }
}
